@import "tailwindcss";

:root {
  --maincolor: #22c55e;
  --bgfcolor: #04110a;
  --bgcolor: #020617;
  --ex: #000000;
  --mainsoft: #4ade80;
  --text: #f1f9f4;
  --border: #292b29;

}

/* :root {
  --maincolor: #22c55e;   
  --mainsoft: #4ade80; 
  --bgcolor: #020617;  
  --bgfcolor: #04110a;   
  --card: rgba(34, 197, 94, 0.08);
} */

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}


.ticker {
  animation: ticker 15s linear infinite;
}

.drope {
  box-shadow: 10px 10px 15px var(--bgcolor);
}